.musicWidget {
  color: #ffffff !important;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.musicWidget__album {
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.musicWidget__album > img {
  height: auto;
  width: 100%;
}

.musicWidget__Info {
  width: 15rem;
}
.musicWidget__Info > p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.473);
}

.musicWidget__controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}
.disabled {
  color: grey;
}

.musicWidget__trackContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.musicWidget__controls > button {
  border: 0px;
  background: transparent;
  outline: none;
}
.musicWidget__controls > button:hover {
  transform: scale(1.1);
}

/* .musicWidget__controls > button > .MuiSvgIcon-root {
  color: white !important;
}

.musicWidget__controls > .skip-forward > .MuiSvgIcon-root {
  font-size: 30px !important;
}
.musicWidget__controls > .skip-back > .MuiSvgIcon-root {
  font-size: 30px !important;
} */

.track {
  height: 5px;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.track > input {
  width: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}

/* 
// seekbar customization */
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 3px;
  width: 3px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.animate-track {
  background: rgba(0, 0, 0, 0.404);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
  align-items: center;
}

.track {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
  height: 20%;
  border-radius: 20px;
  display: flex;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  position: relative;
}
.track_container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}
.musicWidget__container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.musicWidget__other > .musicWidget__button {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .musicWidget__Info > h3 {
    font-size: 16px;
  }
  .musicWidget__Info > p {
    font-size: 14px;
  }
  .musicWidget__Info {
    position: absolute;
    top: 1.2rem;
    left: 3.7rem;
  }
  .musicWidget__album {
    display: none;
  }
  .musicWidget {
    position: relative;
    height: 8rem;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 3rem;
  }
  .musicWidget__trackContainer > p {
    font-size: 10px;
    font-weight: 500;
  }
  .musicWidget__container {
    width: 80%;
  }
}
