.nav {
  width: 95%;
  height: 4.5rem;
  margin-top: 1rem;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav .MuiSvgIcon-root {
  z-index: 999;
  font-size: 30px !important;
}

.nav__Binaural {
  z-index: 99;
  height: 100vh;
  width: 50vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #00000070;
  backdrop-filter: blur(30px);
  transition: transform 200ms ease-in;
  transform: translateX(-100%);
}

.nav__toggleBinaural {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  height: 100vh;
  width: 50vw;
  backdrop-filter: blur(30px);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000070;
  transition: transform 400ms;
  transform: translate(0%);
}

.nav__user {
  z-index: 99;
  height: 100vh;
  width: 50vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #00000070;
  backdrop-filter: blur(30px);
  transition: transform 200ms ease-in;
  transform: translateX(100%);
}

.nav__settings > .btn__div {
  margin-top: 10%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.btn__div > button {
  border-radius: 30px;
  background-color: var(--nav-color);
  transition: all 200ms ease-in;
  height: 50px;
  width: 150px;
  color: white;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.btn__div > .buttonOne {
  border-radius: 30px;
  background-color: var(--nav-color);
  transition: all 200ms ease-in;
  height: 50px;
  width: 150px;
  background-color: rgb(231, 55, 55);
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: white;
}

.nav__userImg {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
}
.nav__toggle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(30px);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000070;
  transition: transform 400ms;
  transform: translateX(200%);
}

.nav__userImg > img {
  width: 250%;
  height: auto;
}

.nav__themeControl > .nav__themePic {
  width: 60px;
  height: 60px;
}

.nav__themePic > img {
  width: 100%;
  height: auto;
}

.nav__settings {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav__settings > h3 {
  width: 80%;
  margin-top: 5%;
}

.nav__goal {
  width: 85%;
  margin-top: 2%;
}

.nav__goalContainer {
  margin-top: 5%;
  border: 0.5px solid grey;
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: scroll;
}

.nav__goalContainer > div {
  cursor: pointer;
  min-width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.226);
  padding: 1.5%;
  transition: all 200ms ease-in;
}
.nav__goalContainer > div:hover {
  background-color: rgba(138, 129, 212, 0.712);
}

.nav__goalContainer > .nav__goalPic {
  width: 40px;
  height: 40px;
}

.nav__goalPic > img {
  width: 100%;
  height: auto;
}

.nav__themeControl {
  margin-top: 5%;
  border: 0.5px solid grey;
  border-radius: 20px;
  padding: 4% 2%;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__themeControl > div {
  cursor: pointer;
  width: 50px;
  border-radius: 50%;
  height: 100%;
  transition: all 200ms ease-in;
}
.nav__themeControl > div:hover {
  transform: scale(1.1);
}

.nav__themeControl > .nav__themeOne {
  background-color: #a4aeff;
}

.nav__themeControl > .nav__themeTwo {
  background-color: rgb(20, 241, 68);
}

.nav__themeControl > .nav__themeThree {
  background-color: rgb(82, 41, 196);
}

.nav__themeControl > .nav__themeFour {
  background-color: rgb(236, 56, 161);
}

@media only screen and (max-width: 600px) {
  .nav .MuiAvatar-circle {
    margin-top: 0;
  }
  .nav {
    height: 3.5rem;
  }
}

@media only screen and (max-width: 760px) {
  .nav__toggle {
    transform: translateX(100%);
  }

  .nav__Binaural {
    transform: translateX(0%);
  }

  .nav__toggleBinaural {
    transform: translateX(-100%);
  }
  .nav__user {
    transform: translateX(0%);
    width: 100vw;
  }
  .nav__toggle {
    width: 100vw;
  }
  .nav__settings > h3 {
    font-size: 14px;
  }
  .nav__goal > h3 {
    font-size: 14px;
    margin-top: 5%;
  }
  .nav__toggleBinaural {
    width: 100vw;
  }
  .nav__Binaural {
    width: 100vw;
    transform: translateX(0%);
  }

  .nav__settings > .btn__div {
    margin-top: 50%;
  }

  .btn__div > button {
    width: 150px;
  }
}
