.tab-controller-btn {
  border: none;
  color: white;
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 50px auto 0;
  word-break: break-all;
}

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 10px;
  text-align: center;
  width: 50%;
  /* ?: remove this color if not needed */
  background: rgba(89, 64, 201, 0.918);
  cursor: pointer;

  box-sizing: content-box;
  position: relative;
  outline: none;
  word-break: keep-all;
}
/* .tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
} */

.active-tabs {
  border-bottom: 1px solid transparent;
  width: 80%;
}

.active-tabs::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background-color: rgb(62, 11, 155);
}

.content-tabs {
  flex-grow: 1;
}
.content {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 20px 0 5px 5px;
  margin: 0 auto 0;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

/* displays the active tab content */
.active-content {
  display: block;
  text-align: center;
}
