.align__chart {
  width: 100vw;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    var(--chat-gradient)
  );
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 100%;
  width: 75%;
}

.chart__container {
  border-radius: 5px;
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  overflow-y: scroll;
  gap: 10px;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.chart__container > div {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.chart__go {
  width: 40%;
}

.chart__header {
  height: 10%;
  margin-bottom: 2rem;
  margin-left: 2rem;
  width: 90%;
}

.chart__header > h1 {
  font-size: 55px;
}

@media only screen and (max-width: 768px) {
  .chart__container {
    width: 93%;
  }
  .chart {
    width: 100%;
    background-image: var(--back_groundImg);
    background-repeat: no-repeat;
    background-size: 98vh;
    background-position: 0% 60.5%;
  }
  .chart__header > h1 {
    font-size: 35px;
  }

  .chart__header {
    height: 3%;
  }
  .chart__container > div {
    margin-left: 2%;
    width: 88%;
    backdrop-filter: blur(30px);
    background-color: var(--chart-background);
  }

  .chart__container > div > h3 {
    font-size: 16px;
    text-align: center;
  }
  .chart__container > div > p {
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 1rem;
  }
}
